# API Key Generated under Server Settings > Priviledge Keys
API_KEY=changeme

# API Version
API_VERSION=v1

# Server Address, including port if not default http / https
SERVER_ADDRESS=localhost:10080

# Either http or https
SERVER_SCHEME=http

# Additional Debugging Features like Saving history on or off
DEV=True